<div class="container">
  <div class="inner_lg">
    <h5 class="main-heading-blue">Campaign Builder11</h5>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h1 class="panel-title">Details</h1></div>
    <div class="panel-body form-horizontal">
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Campaign Name*:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="Campaign Name" class="form-control" />
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Campaign Type*:</label>
        <div class="col-sm-3">
          <select class="form-control">
            <option>Select</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Recipients*:</label>
        <div class="col-sm-3">
          <select class="form-control">
            <option>Select</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Start Date*:</label>
        <div class="col-sm-3">

        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">End Date*:</label>
        <div class="col-sm-3">

        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Reminders:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="Reminders" class="form-control" />
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Frequency:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="Frequency" class="form-control" />
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Subject*:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="Subject" class="form-control" />
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Message*:</label>
        <div class="col-sm-7 margin-bottom10">

          <span class="small">To include dynamic information, copy and paste these tags in your message: $$First Name$$  $$Last Name$$  $$Profile Link$$</span>
        </div>
      </div>

      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Help Contact Information:</label>
        <div class="col-sm-3">
          <textarea type="text" placeholder="Help Contact Information" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-5 control-label">Send Test To:</label>
        <div class="col-sm-3">
          <div class="col-sm-9 form-group"><input type="text" placeholder="Send Test To" class="form-control" /></div><div class="col-sm-2">
            <a class="btn btn-primary">Send mail</a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-primary">Save Draft</a>
        <a class="btn btn-success">Start Campaign</a>
        <a class="btn btn-danger">End Campaign</a>
        <a class="btn btn-default">Cancel</a>
      </div>

    </div>
  </div>
</div>